<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{common :: common_header}">
  
  </head>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
   <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <body>
    <nav  th:insert="~{left_nav :: top}" ></nav> 

    <div class="container-fluid">
      <div class="row">
		<nav  th:insert="~{left_nav :: copy}" ></nav> 

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
         <div class="col-md-12 order-md-1">
          <h4 class="mb-3">发布文章</h4>
          <hr class="mb-4">
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">文章标题</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  	文章标题必填
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">文章标签</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  	文章标签必填
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6 mb-3">
                 <label for="country">分类</label>
                <select class="custom-select d-block w-100" id="country" required>
                  <option value="">选择分类...</option>
                  <option>United States</option>
                </select>
                <div class="invalid-feedback">
                  	文章分类必填
                </div>
              </div>
            </div>


            <h5 class="mb-3">文章内容</h5>

            <textarea id="content"></textarea>

					<div class="row pt-0 pt-sm-5">
						<div class="col-sm-12 pl-0">
							<p class="text-right">
								<button type="submit" class="btn btn-space btn-primary btn-lg">保存文章</button>
								<button class="btn btn-space btn-info btn-lg">存为草稿</button>
								<button class="btn btn-space btn-secondary btn-lg">返回列表</button>
								
							</p>
						</div>
					</div>
					<!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button> -->
          </form>
        </div>
       		
        </main>
      </div>
    </div>

	   <script>
	   feather.replace();//图标
	  var simplemde = new SimpleMDE({ element: document.getElementById("content") });
	  // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
	  </script>
  </body>
</html>
